
.tabs {
  margin-bottom: 24px;
  margin-top: 6.5rem;
}


.tabs-list {
  display: flex;
  white-space: nowrap;
  overflow: visible;
  /* 
  margin-bottom: 36px;
  padding: 4px; */
  /* display: inline-flex; */
}

.line {
  height: 1px;
  background-color: var(--tabs-color);
  opacity: 0.2;
  margin-bottom: 20px;
}

.tabs-btn {

  cursor: pointer;
  position: relative;
  outline: none;
 font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--tabs-color);
  opacity: 0.5;
  border: none;
  background: transparent;
  padding: 10px 10px 10px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1), transform 0.1s cubic-bezier(0.2, 0, 0, 1);
  margin-right: 6px;
  border-radius: 8px;
}

.tabs-btn:first-child {
  margin-left: -10px;
}

.tabs-btn:hover,
.tabs-btn__active:hover {
  background-color: #F7F7F7;

}

.tabs-btn__active:hover {
  opacity: var(--tabs-opacity);
}

.tabs-btn__active {
  background: transparent;
  opacity: 1;
}

.tabs-btn::after {
  content: '';
  position: absolute;
  bottom: -7px;
  width: calc(100% - 20px);
  height: 2px;
  left: 10px;

}

.tabs-btn__active::after {
  background-color: var(--tabs-color);
}

.tabs-content {
  display: none;
}

.tabs-content__active {
  display: flex;
}